# eMail für Let's encrypt
{
    email deinName@mailDomain.de
}

omv.meine.domain.de {
    reverse_proxy 192.168.xxx.xxx:81
}

jellyfin.meine.domain.de {
    reverse_proxy 192.168.xxx.xxx:8096
}

apachegua.meine.domain.de {
    reverse_proxy 192.168.xxx.xxx:8081
}
